.quote-box {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    position: relative;
    width: 25rem;
    padding: 2rem 4rem;
    background-color: #fff;
    
}

.icon {
    font-size: 3rem;
}

.quote-text {

    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    color: #000;
}

.quote-author {
    font-size: 16px;
    font-weight: 600;
    font-family: Dancing Script, cursive;
}

.quote-author::before {
    content: '-';
    margin-right: 10px;
}

.quote-author::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.1em;
    background-color: #000;
    margin-top: 1em;
}

.new-quote {
    border: 2px solid black;
    margin: 1rem 2rem;
    color: #000;
    padding: .4rem 3rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .3s;

}

.new-quote:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
}

.quote-href {
    font-size: 22px;
    margin-top: 1rem;
    gap: 10px;
    display: flex;
    justify-content: center;
    color: rgba(128, 128, 128, 0.637);
}

.quote-href a {
    color: rgba(128, 128, 128, 0.637);
    text-decoration: none;
    transition: all .3s;
}

/* Breakpoints */

@media screen and (max-width: 1024px) {
    .quote-box {
        margin: 0 auto;
        width: 20rem;
        padding: 1rem 2rem;
    }

    .quote-text {
        font-size: 18px;
    }

    .quote-author {
        font-size: 14px;
    }

    .new-quote {
        bottom: 1rem;
        right: 7rem;
        padding: .5rem 1rem;
        font-size: .8rem;
    }

}

@media screen and (max-width: 768px) {
    .quote-box {
        margin: 0 auto;
        width: 20rem;
        padding: 1rem 2rem;
    }

    .quote-text {
        font-size: 16px;
    }

    .quote-author {
        font-size: 14px;
    }

    .new-quote {
        bottom: 1rem;
        right: 5rem;
        padding: .5rem 1rem;
        font-size: .8rem;
    }
}

@media screen and (max-width: 350px) {
    .quote-box {
        margin: 2rem auto;
        width: 15rem;
        padding: 1rem 2rem;
    }

    .quote-text {
        font-size: 14px;
    }

    .icon {
        font-size: 2rem;
    }

    .quote-author {
        font-size: 12px;
    }

    .new-quote {
        font-size: 12px;
        padding: .5rem 1rem;

    }
}