.quote-box{
    border-radius: 6px;
    position: relative;
    width: 450px;
    
    padding: 40px 50px;
    
    background-color: #fff;
}

.icon{
    font-size: 50px;
}
.quote-text{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 20px;
    color: none;
}

.quote-author{
    margin-top: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    
}





.quote-href .links{
display: flex;
justify-content: flex-end;
align-items: center;
gap: 10px;
font-size: 30px;
width: 100% auto;
cursor: pointer;
}

.quote-href {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.quote-href button{
    border : none;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 10px 20px;
}